*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{

   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    overflow: hidden;
    font-size: 17px;
}
.logo>a>img{
    
    width: 50px;
    height: 50px;
    margin-left: 35px;
    border-radius: 80%;
}

nav ul{
    
    display: flex;
    gap: 30px;
    list-style: none;
}
nav li a{
    padding: 20px 40px;
  
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: serif;
    font-size: 30px;
}

nav li a:hover{
    cursor: pointer;
    background-color: black;
}

/* form===== */
form{
    
    padding: 25px;
    width: 25%;
   position: absolute;
   left: 30%;
   top: 20%;
   box-shadow: 1px 1px 11px 1px rgb(197, 195, 195);
}

form >input{
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    border: none;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
   
  


    
}
form >input:hover{
    background-color:teal;
    color: aliceblue;
    
}
h2{
    color: teal;
    padding: 1rem;
    text-align: center;
}

form div{
   
    display: grid;
    gap: 5px;
}
form div label{
   
    
    font-size: 17px;
    font-weight: 700px;
}

form div input, form div select{
    margin-bottom: 10px;
    font-size: 17px;
    border: 1px solid;
    border-radius: 3px;
    border-color: teal;
    
}



